.container {
  padding: 0;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(800px, calc(80% + 100px));
  position: relative;
  height: min(calc(100vw * 681 / 1210), calc(800px * 681 / 1210));
}

.left {
  position: absolute;
  top: 20%;
  left: 3rem;
  z-index: 2;
  height: 0.03rem;
  width: 51%;
  background: #232b2b;
  transform: scaleX(0);
  transform-origin: left;
  animation: lines cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
}

.right {
  position: absolute;
  bottom: 10%;
  right: 3rem;
  z-index: 2;
  height: 0.03rem;
  width: 55%;
  background: #232b2b;
  transform: scaleX(0);
  transform-origin: right;
  animation: lines cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
}

.footer {
  display: flex;
  flex: 1;
  margin: 0 9%;
  padding: 2rem 0;
  border-top: 0.03rem solid #232b2b;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.grid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  margin-bottom: 6rem;
  animation: fadeIn ease-in 0.6s;
}

.card {
  margin: 2rem;
  padding: 1.5rem;
  min-width: 300px;
  height: auto;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #efefef;
}

.card h2 {
  padding-top: 2rem;
  margin: 0 0 2rem 0;
  font-size: 1.25rem;
  color: #232b2b;
}

.card p {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-top: 1px solid #ffffff;
}

.formBox {
  max-width: 460px;
  display: inline-block;
  flex-grow: 1;
}

.imageCard {
  margin: 1rem;
  padding: 1.5rem;
  position: relative;
  max-width: 300px;
  min-width: 300px;
  height: calc(300px * 579 / 411);
  text-align: center;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
}

.imageCard h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  color: #232b2b;
}

.imageCard p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes lines {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
